/*menu
0 - Geral
1 - Nav bar
2 - section 1
3 - section 2
*\

/* Geral*/

.root{
    --rosa-primario: #ffb6c0;
    --rosa-secundario: rgba(255,182,192,0.8);

    --branco-primario: #fff;
    --branco-secundario: #fffee8;

    --cinza-primario: #333;
    --cinzaa-secundario: #cecece;
    
    --preto: #000;
}
@font-face{
    font-family: "Georgia",serif;
}
@font-face{
    font-family: "Gerogia",serif;
}

/* Nav bar */

.logo{
    position: absolute;
    top: 12px;
    left: 110px;
    width: 103px;
}

header{
    width: 100%;
    height: 4%;
    background-color: black;
}

nav{
    margin-right: -50px;
}

.lista{
    margin-left: 45%;
}

nav ul li{
    display: inline-block;
    margin: 17px -5px;
    font-size: 1em;
}

nav ul li a{
    position: relative;
    text-decoration: none;
    color: #fff;
    margin: 20px;
    padding-top: 10px;
    padding-right: 10px;
}

nav ul li a:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: -5px;
    background-color: #fff;
    width: 0px;
    height: 5px;
    transition: all 0.3s;
}

nav a{
    color: var(--branco-secundario);
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 10px;
    transition: 0.3s;
}
nav a:hover{
    background-color: var(--rosa-secundario);
    transition: 0.3s;
    color: #fff;  
}

nav ul li a:hover:after {
    width: 90%;
}

/* 1 - home */

.home{
    background-image: url(img/bg-intro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: var(--branco-secundario);
    text-align: center;
    font-family: "Titan";

}

.home .box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home h1{
    font-size: 4em;
    letter-spacing: 4px;
}

#central{
    margin: 0 20%;
}

.home .more{
    position: absolute;
    top: 55%;
    left: 46%;
    transform: translate(-50%, -50%);
    font-size: 2em;
}
.home .more .p{
    font-size: 1,5em;
    font-family: "Comfortaa";
    color: var(--branco-primario);
    margin-bottom: 5%;
}

.title-h2{
    color: var(--rosa-primario);
    font-family:  "Georgia",serif;
    font-size: 1.625em;
}
.traço {
    width: 50px; 
    height: 50px;
    border-bottom: solid 5px white;
    left: 40%;
    top: -125px;
    position: relative;
}

/* section - 2 */

.section-2{
    color: var(black);
    text-align: center;
    font-family: "Georgia",serif;
    width: cover;
    height: 550px;
}

.img{
    height: 300px;
    width: cover;
    overflow: auto;

}

.title-h2{
    margin: 3%;
    font-size: 2em;
}

.more{
    margin: 60px;
    font-size: 20px;
}

.img{
    display: inline;
}

.images{
    display: block;
    max-width: 960px;
    margin: 0 auto;
}
    

.images::after{
    content: "";
    clear: both;
    display: table;
}

.img-1{
    display: table;
    top: -10px;
    float:left;
    margin-right: 30px;

}

.img-2{
    display: table;
    top: -10px;
    float: left;

}

.love{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    top: -30px;
    background: #171616;
    color: #FFF;
    height: 40px;
    width: 190px;
    text-align: center;
    padding: 5px 5px;

}

.perfeicao{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    top: -30px;
    background: #171616;
    color: #FFF;
    height: 40px;
    width: 190px;
    text-align: center;
    padding: 5px 5px;

}

/* 3 - section 3 */

.section-3{
    width: cover;
    height: 600px;
    background-color: #E7E4D8;

}

.borda1{
    border-radius: 100%;
    border: 7px solid #571F00;
    height: 140px;
    width: 140px;
    transform: translate(180%,45%);
}
.interior1{
    width: 90%;
    height: 90%;
    background-color: #571F00;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: relative;
    border-radius: 100%;
}

.borda2{
    border-radius: 100%;
    border: 7px solid 	#EB7127;
    height: 140px;
    width: 140px;
    transform: translate(430%,-55%);
}
.interior2{
    width: 90%;
    height: 90%;
    background-color: 	#EB7127;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: relative;
    border-radius: 100%;
}

.borda3{
    border-radius: 100%;
    border: 7px solid #F4AB42;
    height: 140px;
    width: 140px;
    transform: translate(700%,-155%);
}
.interior3{
    width: 90%;
    height: 90%;
    background-color: #F4AB42;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: relative;
    border-radius: 100%;
}

.paulista{
    position: relative;
    top: 37px;
    display: inline-block;
    margin: 1%;
    font-size: 2.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.paulista_texto{
    position: relative;
    top: 130px;
    left: -20%;
    text-align: left;
    margin: -80%;
    display: inline-block;
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif,

}

.carioca{
    position: relative;
    top: 37px;
    display: inline-block;
    margin: 1%;
    font-size: 2.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.carioca_texto{
    position: relative;
    top: 130px;
    left: 10%;
    text-align: left;
    margin: -80%;
    display: inline-block;
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif,
}

.mineiro{
    position: relative;
    top: 37px;
    display: inline-block;
    margin: 1%;
    font-size: 2.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mineiro_texto{
    position: relative;
    top: 130px;
    right: -20%;
    text-align: left;
    margin: -80%;
    display: inline-block;
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif,

}


.btn{
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: 240%;
    left: 42%;
    width: 200px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500px;
    border-style: solid;
    border-color: #000;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.btn-bege{
    background: #E7E4D8;
    color: #000;
    box-shadow:0 1px 0 #000;
    transition: 0.3s;
}
.btn-bege:hover{
    background-color: #000;
    color: #E7E4D8;
    box-shadow:0 1px 0 #000;
    transition: 0.3s;
}


/* Section 4 */

.section_4{
    width: cover;
    height: 800px;
    background-color: white;
    margin: 10%;
}

.Botafogo .img{
    position: inline-block;
    margin: 0%;
    display: table;
}

.Botafogo .titulo{
    position: inline-block;
    display: inline-block;
    margin-left: 40%;
    float: left;
    margin-top: -25%;
    font-size: 2.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    

}

.Botafogo .texto{
    position: inline-block;
    display: inline-block;
    margin-left: 40%;
    float: left;
    margin-top: -20%;
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.Botafogo .button{
    position: inline-block;
    width: 200px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500px;
    border-style: solid;
    border-color: #000;
    background-color: #fff;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    float: left;
    margin-left: 33%;
    margin-top: -12%;

}

.Iguatemi .img{
    position: inline-block;
    margin: 0%;
    display: table;
}

.Iguatemi .titulo{
    position: inline-block;
    display: inline-block;
    margin-left: 40%;
    float: left;
    margin-top: -25%;
    font-size: 2.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Iguatemi .texto{
    position: inline-block;
    display: inline-block;
    margin-left: 40%;
    float: left;
    margin-top: -20%;
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.Iguatemi .button{
    position: inline-block;
    width: 200px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500px;
    border-style: solid;
    border-color: #000;
    background-color: #fff;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    float: left;
    margin-left: 33%;
    margin-top: -12%;

}

.Mineirao .img{
    position: inline-block;
    margin: 0%;
    display: table;
}

.Mineirao .titulo{
    position: inline-block;
    display: inline-block;
    margin-left: 40%;
    float: left;
    margin-top: -25%;
    font-size: 2.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Mineirao .texto{
    position: inline-block;
    display: inline-block;
    margin-left: 40%;
    float: left;
    margin-top: -20%;
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.Mineirao .button{
    position: inline-block;
    width: 200px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500px;
    border-style: solid;
    border-color: #000;
    background-color: #fff;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    float: left;
    margin-left: 33%;
    margin-top: -12%;

}

/* Section 5 */

.section-5{
    width: cover;
    height: 150px;
    background-color: #E7E4D8;

}

.formulario{
    position: relative;
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 8%;
    top: 50%;
    transform: translateY(-50%);

}

.texto{
    position: relative;
    font-size: 1em;
    font-family: Georgia;
    margin-left: 8%;
    top: 10%;

}

.formulario .caixa{
    position: relative;
    box-sizing: border-box;
    border-color: #000;
    background-color: #E7E4D8;
    width: 30%;
    height: 53px;
    margin-left: 10%;
    top: 0px;
    padding-left: 10px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn_submit{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500px;
    background-color: #fff;
    border-style: solid;
    border-color: #000;
    padding: 10px;
    cursor: pointer;
    background: #000;
    color: #fff;
    margin-left: -0.6%;


}

/* Section Rodape */

.rodape{
    width: cover;
    height: 120px;
    background-color:#D8D4C8;
}

.rodape .texto{
    position: relative;
    margin-left: 15%;
    top: 30%;
}


.img-final{
    position: relative;
    margin-left: 77%;
}

/*@media (min-width: 600px) {
    body{
      background-color: red;
    }
  }*/